.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--woo-margin-10);
  border-bottom: 1px solid var(--primary-light);
  box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1),
    inset 0 0 0 1px var(--shadow-inset);
}

.headerRight {
  display: flex;
  position: relative;
}
