.button {
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--white-color);
  font-size: var(--woo-regular-size);
  border-radius: 5px;
  padding: 6px 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* variant normal */
.button.normal {
  background-color: #09f;
  border-color: transparent;
}

.button.normal:hover {
  background-color: #09ff09;
  border-color: transparent;
}

/* variant ghost */
.button.ghost {
  background-color: transparent;
  border-color: transparent;
}

.button.ghost:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* variant bordered */
.button.bordered {
  border-color: var(--secondary-dark);
}

.button.bordered:hover {
  background-color: var(--secondary-dark);
}

.button {
  transition: border-color 500ms ease;
  transition: background-color 500ms ease;
}

.button:hover {
  transition: border-color 500ms ease;
  transition: background-color 500ms ease;
}
