.button {
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--white-color);
  font-size: var(--woo-regular-size);
  padding: 6px 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* variant primary */
.button.primary {
  background-color: var(--primary-light);
  border-color: var(--primary-light);
}

.button.primary:hover {
  background-color: var(--primary-light);
  border-color: var(--primary-light);
}

/* variant secondary */
.button.secondary {
  background-color: #09f;
  border-color: transparent;
}

.button.secondary:hover {
  background-color: #09ff09;
  border-color: transparent;
}

/* variant ghost */
.button.ghost {
  background-color: transparent;
  border-color: transparent;
}

.button.ghost:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* variant bordered */
.button.bordered {
  border-color: var(--secondary-dark);
}

.button.bordered:hover {
  background-color: var(--secondary-dark);
}

.button {
  transition: border-color 500ms ease;
  transition: background-color 500ms ease;
}

.button:hover {
  transition: border-color 500ms ease;
  transition: background-color 500ms ease;
}
