:root {
  --black: black;
  --white: white;
  --primary-light: #4f5b62;
  --primary-dark: #000a12;
  --primary: #263238;
  --secondary: #026a82;
  --secondary-light: #4a98b2;
  --secondary-dark: #003f55;
  --font-stack: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /* fonts size */
  --woo-x-small-size: 10px;
  --woo-small-size: 14px;
  --woo-normal-size: 16px;
  --woo-large-size: 18px;
  --woo-x-large-size: 22px;

  /* margin */
  --woo-margin-0: 0px;
  --woo-margin-05: 5px;
  --woo-margin-10: 10px;
  --woo-margin-15: 15px;
  --woo-margin-20: 20px;
  --woo-margin-25: 25px;
  --woo-margin-30: 30px;
  --woo-margin-35: 35px;
  --woo-margin-40: 40px;
  --woo-margin-45: 45px;
  --woo-margin-50: 50px;
  --woo-margin-55: 55px;

  /* radius */
  --woo-radius-button: 5px;

  /* weight */
  --woo-font-weight-thin: 200;
  --woo-font-weight-regular: 400;
  --woo-font-weight-semi-bold: 600;
  --woo-font-weight-bold: 800;

  /* shadow */
  --shadow-1: rgba(255, 255, 255, 0.1); /* Alternative  => rgba(0, 0, 0, 0.1) */
  --shadow-2: rgba(255, 255, 255, 0.02); /* Alternative => rgba(0, 0, 0, 0.2) */
  --shadow-inset: rgba(255, 255, 255, 0.05);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-stack);
}

p,
label,
h1,
h2,
h3,
h4 {
  margin: var(--woo-margin-0);
}

input {
  font-family: var(--font-stack);
  font-size: var(--woo-normal-size);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.font-thin {
  font-weight: var(--woo-font-weight-thin);
}

.font-regular {
  font-weight: var(--woo-font-weight-regular);
}

.font-semi-bold {
  font-weight: var(--woo-font-weight-semi-bold);
}

.font-bold {
  font-weight: var(--woo-font-weight-bold);
}
